body{
    padding:0 !important;
    margin:0 !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 18px !important;
    background-color:black !important;
}
p, h1{
    color:white;
}
nav{
    background-color: black;
}
.nav-link{
    color: white !important;
    padding:5px !important;
    text-align: center !important;
}
.nav-link:hover{
    color: #0158fa!important;
    padding: 2px  !important;
    transition: 0.5s !important;
}
.btn-success{
    display: flex;
}
.input-group{
    max-width: 50%;
    margin: 2em;
}
.recherche{
    color: white !important;
}
footer{
    background-color:black !important;
    color: white !important;
}